.NavHeader {
    .ant-page-header-heading-extra {
        display: flex;
    }

    .ant-input-affix-wrapper {
        input {
            background-color: inherit;
            color: inherit;
        }
    }
}
